<form>
  {{input value=headline id="headline"}}
  {{input value=author id="author"}}
  {{input value=photo id="photo"}}
  {{input value=article id="article"}}
  <button {{action 'savePost1'}}>Add New Article</button>
</form>
