<form>
  Headline: {{input value=headline id="headline"}} <br>
  Author: {{input value=author id="author"}} <br>
  Photo: {{input value=photo id="photo"}} <br>
  Article: {{input value=article id="article"}} <br>
  <button {{action 'savePost1'}}>Add New Article</button>
</form>
